In [1]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Function to read and process the evaluation results from a CSV file
def process_results(csv_file, model_name):
    df = pd.read_csv(csv_file)
    df['Model'] = model_name
    return df[['Model', 'Subpart', 'MSE', 'RMSE', 'MAE']]

# Directory containing the evaluation results
results_dir = "../Predictions/Surface/"

# DataFrame to store the evaluation results for each subpart
all_results = pd.DataFrame()

# Iterate over the models in the directory
for model_name in os.listdir(results_dir):
    model_path = os.path.join(results_dir, model_name)
    eval_file = os.path.join(model_path, "eval.csv")
    try:
        assert os.path.exists(eval_file)
    except AssertionError:
        print(f"Missing evaluation results for {model_name}")
        continue
    # Process the evaluation results for the current model
    results = process_results(eval_file, model_name)
    all_results = all_results.append(results, ignore_index=True)

results = "/home/ngaggion/DATA/HybridGNet3D/Predictions/YanSurface/Results.csv"
df = pd.read_csv(results)
df["Model"] = "MCSI-Net"
all_results = all_results.append(df, ignore_index=True)

def get_nice_dataframe_sub(df, metrics, subpart = "Full", vertical = False):
    models = df["Model"].unique()
    df = df.copy()
    df = df[df["Subpart"] == subpart]

    # creates a dataframe where each metric has a column for its mean and std.
    # the mean and std. are computed for each model
    # the dataframe is then saved as a csv file
    df_std = pd.DataFrame(columns=metrics)
    for metric in metrics:
        df_std[metric] = df.groupby(["Model"])[metric].std()

    df_mean = pd.DataFrame(columns=metrics)
    for metric in metrics:
        df_mean[metric] = df.groupby(["Model"])[metric].mean()

    df_mean = df_mean.round(2)
    df_std = df_std.round(2)

    #combine both dataframes, intercalating columns

    empty_df = pd.DataFrame(columns = metrics)
    for metric in metrics:
        i = 0
        for model in models:
            mean_str = str(df_mean.loc[model, metric]) 
            std_str = str(df_std.loc[model, metric]) 
            if len(mean_str) == 3 or (mean_str[2] == '.' and len(mean_str) == 4):
                mean_str += '0'
            if len(std_str) == 3 or (std_str[2] == '.' and len(std_str) == 4):
                std_str += '0'
              
            empty_df.loc[model, metric] = mean_str + " (" + std_str + ")"
            i+=1

    # transposes the dataframe
    if vertical:
        empty_df = empty_df.T
    
    return empty_df

metrics = ['MAE', 'MSE', 'RMSE']
subparts = ['Full', 'LV', 'RV', 'LA', 'RA', 'aorta']

for subpart in subparts:
    print(subpart)
    nice = get_nice_dataframe_sub(all_results, metrics, subpart, vertical=1)
    display(nice)

/home/ngaggion/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

Full

,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.1_3D_32_2D_8_KL_1e-5,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,WDS_1_WL_0.001_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,MCSI-Net
MAE,2.26 (0.55),2.49 (0.51),2.56 (0.62),2.18 (0.54),2.18 (0.53),2.43 (0.59),2.06 (0.55)
MSE,9.29 (5.48),10.69 (5.27),12.20 (7.11),8.80 (5.31),8.83 (5.18),11.27 (6.69),7.79 (4.85)
RMSE,2.95 (0.76),3.19 (0.71),3.38 (0.89),2.87 (0.76),2.88 (0.75),3.25 (0.86),2.69 (0.74)

LV

,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.1_3D_32_2D_8_KL_1e-5,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,WDS_1_WL_0.001_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,MCSI-Net
MAE,1.79 (0.55),2.04 (0.51),1.90 (0.57),1.70 (0.54),1.71 (0.53),1.75 (0.54),1.79 (0.56)
MSE,5.60 (4.03),6.86 (3.85),6.23 (4.28),5.11 (3.67),5.12 (3.56),5.35 (3.83),5.63 (3.91)
RMSE,2.26 (0.71),2.54 (0.65),2.39 (0.73),2.15 (0.70),2.16 (0.68),2.21 (0.70),2.26 (0.72)

RV

,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.1_3D_32_2D_8_KL_1e-5,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,WDS_1_WL_0.001_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,MCSI-Net
MAE,2.08 (0.60),2.26 (0.55),2.18 (0.64),1.97 (0.59),1.96 (0.60),2.00 (0.58),1.95 (0.59)
MSE,7.69 (4.93),8.62 (4.77),8.39 (5.64),7.04 (4.72),7.00 (4.91),7.12 (4.84),6.82 (4.45)
RMSE,2.66 (0.78),2.85 (0.71),2.78 (0.82),2.54 (0.78),2.52 (0.80),2.56 (0.76),2.50 (0.75)

LA

,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.1_3D_32_2D_8_KL_1e-5,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,WDS_1_WL_0.001_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,MCSI-Net
MAE,2.37 (0.78),2.62 (0.78),2.90 (1.00),2.30 (0.77),2.32 (0.76),2.84 (0.99),2.12 (0.69)
MSE,10.07 (9.74),11.67 (8.92),15.40 (13.73),9.58 (9.24),9.66 (8.51),14.88 (13.29),8.07 (6.47)
RMSE,3.00 (1.02),3.27 (1.00),3.69 (1.33),2.92 (1.02),2.95 (0.99),3.63 (1.31),2.69 (0.90)

RA

,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.1_3D_32_2D_8_KL_1e-5,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,WDS_1_WL_0.001_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,MCSI-Net
MAE,2.57 (0.76),2.72 (0.78),3.07 (0.96),2.51 (0.80),2.52 (0.76),2.98 (0.93),2.29 (0.77)
MSE,12.00 (9.42),13.26 (10.13),17.46 (13.65),11.75 (10.16),11.76 (9.84),16.67 (13.13),9.94 (9.40)
RMSE,3.30 (1.05),3.48 (1.08),3.97 (1.32),3.24 (1.11),3.26 (1.07),3.87 (1.30),2.97 (1.07)

aorta

,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.1_3D_32_2D_8_KL_1e-5,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,WDS_1_WL_0.001_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,MCSI-Net
MAE,2.37 (0.84),2.66 (0.87),2.66 (0.93),2.34 (0.83),2.33 (0.82),2.56 (0.89),1.94 (0.67)
MSE,10.24 (8.71),12.17 (9.28),13.17 (11.05),10.04 (8.43),10.03 (8.62),12.38 (10.52),7.19 (6.76)
RMSE,3.01 (1.09),3.31 (1.11),3.41 (1.23),2.97 (1.09),2.98 (1.09),3.31 (1.20),2.52 (0.93)

In [ ]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Function to read and process the evaluation results from a CSV file
def process_results(csv_file, model_name):
    df = pd.read_csv(csv_file)
    df['Model'] = model_name
    return df

# Directory containing the evaluation results
results_dir = "../Predictions/Surface/"

# DataFrame to store the evaluation results for each subpart
all_results = pd.DataFrame()

# Iterate over the models in the directory
for model_name in os.listdir(results_dir):
    model_path = os.path.join(results_dir, model_name)
    eval_file = os.path.join(model_path, "metrics.csv")

    if not os.path.exists(eval_file):
        continue
    
    # Process the evaluation results for the current model
    results = process_results(eval_file, model_name)
    all_results = all_results.append(results, ignore_index=True)

def get_nice_dataframe(df, metrics, vertical = False):
    models = df["Model"].unique()

    # creates a dataframe where each metric has a column for its mean and std.
    # the mean and std. are computed for each model
    # the dataframe is then saved as a csv file
    df_std = pd.DataFrame(columns=metrics)
    for metric in metrics:
        df_std[metric] = df.groupby(["Model"])[metric].std()

    df_mean = pd.DataFrame(columns=metrics)
    for metric in metrics:
        df_mean[metric] = df.groupby(["Model"])[metric].mean()

    df_mean = df_mean.round(2)
    df_std = df_std.round(2)

    #combine both dataframes, intercalating columns

    empty_df = pd.DataFrame(columns = metrics)
    for metric in metrics:
        i = 0
        for model in models:
            mean_str = str(df_mean.loc[model, metric]) 
            std_str = str(df_std.loc[model, metric]) 
            if len(mean_str) == 3 or (mean_str[2] == '.' and len(mean_str) == 4):
                mean_str += '0'
            if len(std_str) == 3 or (std_str[2] == '.' and len(std_str) == 4):
                std_str += '0'
              
            empty_df.loc[model, metric] = mean_str + " (" + std_str + ")"
            i+=1

    # transposes the dataframe
    if vertical:
        empty_df = empty_df.T
    
    return empty_df


metrics = ['LV Endo - DC', 'LV Endo - HD', 'LV Endo - MCD', 
           'LV Myo - DC', 'LV Myo - HD', 'LV Myo - MCD', 
           'RV Endo - DC', 'RV Endo - HD', 'RV Endo - MCD']


#metrics = ["LA 2CH - DC", "LA 2CH - HD", "LA 2CH - MCD",
#            "LA 4CH - DC", "LA 4CH - HD", "LA 4CH - MCD",
#            "RA 4CH - DC", "RA 4CH - HD", "RA 4CH - MCD"]

nice = get_nice_dataframe(all_results, metrics, vertical=1)

nice["MCSI-Net-Paper"] = ["0.88 (0.05)", "4.74 (1.75)", "1.86 (0.79)",
                    "0.78 (0.08)", "4.75 (1.76)", "1.86 (0.82)", 
                    "0.85 (0.06)", "7.06 (2.64)", "2.27 (0.95)"]

display(nice)

In [ ]:
metrics = ["LA 2CH - DC", "LA 2CH - HD", "LA 2CH - MCD",
            "LA 4CH - DC", "LA 4CH - HD", "LA 4CH - MCD",
            "RA 4CH - DC", "RA 4CH - HD", "RA 4CH - MCD"]


# Directory containing the evaluation results
results_dir = "../Predictions/Surface/"

# DataFrame to store the evaluation results for each subpart
all_results = pd.DataFrame()

# Iterate over the models in the directory
for model_name in os.listdir(results_dir):
    model_path = os.path.join(results_dir, model_name)
    eval_file = os.path.join(model_path, "lax_metrics_yan.csv")

    if not os.path.exists(eval_file):
        continue
    
    # Process the evaluation results for the current model
    results = process_results(eval_file, model_name)
    all_results = all_results.append(results, ignore_index=True)
    
nice = get_nice_dataframe(all_results, metrics, vertical=1)

display(nice)