In [2]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Function to read and process the evaluation results from a CSV file
def process_results(csv_file, model_name):
    df = pd.read_csv(csv_file)
    df['Model'] = model_name
    return df[['Model', 'Subpart', 'MSE', 'RMSE', 'MAE']]

# Directory containing the evaluation results
results_dir = "../Predictions/Surface/"

# DataFrame to store the evaluation results for each subpart
all_results = pd.DataFrame()

# Iterate over the models in the directory
for model_name in os.listdir(results_dir):
    model_path = os.path.join(results_dir, model_name)
    eval_file = os.path.join(model_path, "eval.csv")
    try:
        assert os.path.exists(eval_file)
    except AssertionError:
        print(f"Missing evaluation results for {model_name}")
        continue
    # Process the evaluation results for the current model
    results = process_results(eval_file, model_name)
    all_results = all_results.append(results, ignore_index=True)

def get_nice_dataframe_sub(df, metrics, subpart = "Full", vertical = False):
    models = df["Model"].unique()
    df = df.copy()
    df = df[df["Subpart"] == subpart]

    # creates a dataframe where each metric has a column for its mean and std.
    # the mean and std. are computed for each model
    # the dataframe is then saved as a csv file
    df_std = pd.DataFrame(columns=metrics)
    for metric in metrics:
        df_std[metric] = df.groupby(["Model"])[metric].std()

    df_mean = pd.DataFrame(columns=metrics)
    for metric in metrics:
        df_mean[metric] = df.groupby(["Model"])[metric].mean()

    df_mean = df_mean.round(2)
    df_std = df_std.round(2)

    #combine both dataframes, intercalating columns

    empty_df = pd.DataFrame(columns = metrics)
    for metric in metrics:
        i = 0
        for model in models:
            mean_str = str(df_mean.loc[model, metric]) 
            std_str = str(df_std.loc[model, metric]) 
            if len(mean_str) == 3 or (mean_str[2] == '.' and len(mean_str) == 4):
                mean_str += '0'
            if len(std_str) == 3 or (std_str[2] == '.' and len(std_str) == 4):
                std_str += '0'
              
            empty_df.loc[model, metric] = mean_str + " (" + std_str + ")"
            i+=1

    # transposes the dataframe
    if vertical:
        empty_df = empty_df.T
    
    return empty_df

metrics = ['MAE', 'MSE', 'RMSE']
subparts = ['Full', 'LV', 'RV', 'LA', 'RA', 'aorta']

for subpart in subparts:
    print(subpart)
    nice = get_nice_dataframe_sub(all_results, metrics, subpart, vertical=1)
    display(nice)

Full

/tmp/ipykernel_82468/417444520.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)
/tmp/ipykernel_82468/417444520.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)
/tmp/ipykernel_82468/417444520.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)

,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5
MAE,2.26 (0.55),2.43 (0.59),2.18 (0.54)
MSE,9.29 (5.48),11.27 (6.69),8.80 (5.31)
RMSE,2.95 (0.76),3.25 (0.86),2.87 (0.76)

LV

,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5
MAE,1.79 (0.55),1.75 (0.54),1.70 (0.54)
MSE,5.60 (4.03),5.35 (3.83),5.11 (3.67)
RMSE,2.26 (0.71),2.21 (0.70),2.15 (0.70)

RV

,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5
MAE,2.08 (0.60),2.00 (0.58),1.97 (0.59)
MSE,7.69 (4.93),7.12 (4.84),7.04 (4.72)
RMSE,2.66 (0.78),2.56 (0.76),2.54 (0.78)

LA

,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5
MAE,2.37 (0.78),2.84 (0.99),2.30 (0.77)
MSE,10.07 (9.74),14.88 (13.29),9.58 (9.24)
RMSE,3.00 (1.02),3.63 (1.31),2.92 (1.02)

RA

,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5
MAE,2.57 (0.76),2.98 (0.93),2.51 (0.80)
MSE,12.00 (9.42),16.67 (13.13),11.75 (10.16)
RMSE,3.30 (1.05),3.87 (1.30),3.24 (1.11)

aorta

,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5
MAE,2.37 (0.84),2.56 (0.89),2.34 (0.83)
MSE,10.24 (8.71),12.38 (10.52),10.04 (8.43)
RMSE,3.01 (1.09),3.31 (1.20),2.97 (1.09)

In [3]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Function to read and process the evaluation results from a CSV file
def process_results(csv_file, model_name):
    df = pd.read_csv(csv_file)
    df['Model'] = model_name
    return df

# Directory containing the evaluation results
results_dir = "../Predictions/Surface/"

# DataFrame to store the evaluation results for each subpart
all_results = pd.DataFrame()

# Iterate over the models in the directory
for model_name in os.listdir(results_dir):
    model_path = os.path.join(results_dir, model_name)
    eval_file = os.path.join(model_path, "metrics.csv")

    if not os.path.exists(eval_file):
        continue
    
    # Process the evaluation results for the current model
    results = process_results(eval_file, model_name)
    all_results = all_results.append(results, ignore_index=True)

def get_nice_dataframe(df, metrics, vertical = False):
    models = df["Model"].unique()

    # creates a dataframe where each metric has a column for its mean and std.
    # the mean and std. are computed for each model
    # the dataframe is then saved as a csv file
    df_std = pd.DataFrame(columns=metrics)
    for metric in metrics:
        df_std[metric] = df.groupby(["Model"])[metric].std()

    df_mean = pd.DataFrame(columns=metrics)
    for metric in metrics:
        df_mean[metric] = df.groupby(["Model"])[metric].mean()

    df_mean = df_mean.round(2)
    df_std = df_std.round(2)

    #combine both dataframes, intercalating columns

    empty_df = pd.DataFrame(columns = metrics)
    for metric in metrics:
        i = 0
        for model in models:
            mean_str = str(df_mean.loc[model, metric]) 
            std_str = str(df_std.loc[model, metric]) 
            if len(mean_str) == 3 or (mean_str[2] == '.' and len(mean_str) == 4):
                mean_str += '0'
            if len(std_str) == 3 or (std_str[2] == '.' and len(std_str) == 4):
                std_str += '0'
              
            empty_df.loc[model, metric] = mean_str + " (" + std_str + ")"
            i+=1

    # transposes the dataframe
    if vertical:
        empty_df = empty_df.T
    
    return empty_df


metrics = ['LV Endo - DC', 'LV Endo - HD', 'LV Endo - MCD', 
           'LV Myo - DC', 'LV Myo - HD', 'LV Myo - MCD', 
           'RV Endo - DC', 'RV Endo - HD', 'RV Endo - MCD']


#metrics = ["LA 2CH - DC", "LA 2CH - HD", "LA 2CH - MCD",
#            "LA 4CH - DC", "LA 4CH - HD", "LA 4CH - MCD",
#            "RA 4CH - DC", "RA 4CH - HD", "RA 4CH - MCD"]

nice = get_nice_dataframe(all_results, metrics, vertical=1)

nice["MCSI-Net-Paper"] = ["0.88 (0.05)", "4.74 (1.75)", "1.86 (0.79)",
                    "0.78 (0.08)", "4.75 (1.76)", "1.86 (0.82)", 
                    "0.85 (0.06)", "7.06 (2.64)", "2.27 (0.95)"]

display(nice)

/tmp/ipykernel_82468/3193189021.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)
/tmp/ipykernel_82468/3193189021.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)
/tmp/ipykernel_82468/3193189021.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)

,FULL_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5_noLAX,ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5,MCSI-Net-Paper
LV Endo - DC,0.90 (0.04),0.90 (0.04),0.91 (0.04),0.88 (0.05)
LV Endo - HD,4.22 (1.22),4.08 (1.22),3.89 (1.18),4.74 (1.75)
LV Endo - MCD,1.55 (0.51),1.49 (0.49),1.39 (0.46),1.86 (0.79)
LV Myo - DC,0.81 (0.05),0.83 (0.05),0.84 (0.04),0.78 (0.08)
LV Myo - HD,4.40 (1.26),4.23 (1.27),3.96 (1.23),4.75 (1.76)
LV Myo - MCD,1.57 (0.52),1.49 (0.51),1.35 (0.46),1.86 (0.82)
RV Endo - DC,0.86 (0.05),0.86 (0.05),0.87 (0.05),0.85 (0.06)
RV Endo - HD,6.79 (2.23),6.44 (2.19),6.13 (2.23),7.06 (2.64)
RV Endo - MCD,1.99 (0.59),1.90 (0.57),1.76 (0.59),2.27 (0.95)

In [4]:
metrics = ["LA 2CH - DC", "LA 2CH - HD", "LA 2CH - MCD",
            "LA 4CH - DC", "LA 4CH - HD", "LA 4CH - MCD",
            "RA 4CH - DC", "RA 4CH - HD", "RA 4CH - MCD"]


# Directory containing the evaluation results
results_dir = "../Predictions/Surface/"

# DataFrame to store the evaluation results for each subpart
all_results = pd.DataFrame()

# Iterate over the models in the directory
for model_name in os.listdir(results_dir):
    model_path = os.path.join(results_dir, model_name)
    eval_file = os.path.join(model_path, "lax_metrics_yan.csv")

    if not os.path.exists(eval_file):
        continue
    
    # Process the evaluation results for the current model
    results = process_results(eval_file, model_name)
    all_results = all_results.append(results, ignore_index=True)
    
nice = get_nice_dataframe(all_results, metrics, vertical=1)

display(nice)

/tmp/ipykernel_82468/18109793.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)
/tmp/ipykernel_82468/18109793.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)
/tmp/ipykernel_82468/18109793.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_results = all_results.append(results, ignore_index=True)

             ROI_WDS_1_WL_0.01_3D_32_2D_8_KL_1e-5
LA 2CH - DC                           0.50 (0.15)
LA 2CH - HD                           7.36 (2.83)
LA 2CH - MCD                          1.95 (0.85)
LA 4CH - DC                           0.49 (0.14)
LA 4CH - HD                           7.01 (2.45)
LA 4CH - MCD                          1.84 (0.83)
RA 4CH - DC                           0.40 (0.15)
RA 4CH - HD                           7.94 (2.83)
RA 4CH - MCD                          2.04 (0.95)